@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Poppins', sans-serif;
    --pink: #ff52bf;
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

h1,
h2 {
    font-family: var(--heading-font);
}

.para {
    font-size: 1rem;
    max-width: 45%;
}

.btn {
    max-width: 25em;
    padding: 1.2em 5em;
    background-color: var(--pink);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    box-shadow: 1px 1px 10px 1px #00000025;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 1rem;
    transition: background-color 300ms ease;
}

.btn:hover {
    background-color: var(--light-pink);
}

/* DISPLAY */
.container {
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20vh;
    font-family: var(--body-font);
    overflow-x: hidden;
}









/* //////////////////////////////////////////////////////////// */
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1600px;
    margin: 2em auto;
}

header >
img,

footer >
.footer-cointainer >
.huddle >
img{
    width: 13em;
    max-width: 15em;
}

header >
button {
    max-width: 500px;
    margin: .2em 0;
    padding: .4em 1.5em;
    background-color: #fff;
    outline: none;
    border: .1em solid var(--pink);
    border-radius: 2em;
    color: var(--pink);
    font-size: 1rem;
    cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////// */








/* ////////////////////////////////////////////////////////////////////////////// */
/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30vh;
    width: 100%;
}

main >
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18vh;
}

main >
.hero >
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18vh;
    align-items: center;
}

main >
.hero >
.hero-content >
.hero-content-col-1 {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

main >
.hero >
.hero-content >
.hero-content-col-1 >
h1 {
    font-size: 2.8em;
}

main >
.hero >
.hero-content >
.hero-content-col-1 >
p {
    font-weight: 500;
}

main >
.hero >
.hero-content >
.hero-content-col-2 {
    display: grid;
    place-items: center;
}

main >
.hero >
.hero-content >
.hero-content-col-2 >
img {
    width: 90%;
}

main >
.hero >
.hero-stats {
    display: flex;
    justify-content: space-evenly;
}

main >
.hero >
.hero-stats >
.stats-sub >
h2{
    font-size: 5rem;
    font-weight: 600;
}

main >
.hero >
.hero-stats >
.stats-sub >
p {
    text-align: center;
    color: gray;
}


main >
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20vh;
}

main >
.content >
.grow >
#bg-section-top-mobile-1,

main >
.content >
.grow >
#bg-section-bottom-mobile-1

main >
.content >
.your-users >
#bg-section-top-mobile-2,

main >
.content >
.your-users >
#bg-section-bottom-mobile-2 {
    width: 100%;
}

main >
.content >
.grow,

main >
.content >
.your-users {
    display: flex;
    flex-direction: column;
}

main >
.content >
.grow >
.grow-items,

main >
.content >
.your-users >
.users-items,

main >
.content >
.flowing {
    background-color: var(--very-pale-blue);
    display: flex;
    padding: 3em 5em;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

main >
.content >
.flowing {
    width: 100%;
    padding-right: 3em;
    background-color: #fff;
    justify-content: space-between;
}

main >
.content >
.grow >
.grow-items >
img,

main >
.content>
.your-users >
.users-items >
img {
    width: 40%;
}

main >
.content>
.flowing >
img {
    width: 45%;
    margin-right: 10vw;
}

main >
.content >
.grow >
.grow-items >
.grow-text,

main >
.content>
.your-users >
.users-items >
.users-text, 

main >
.content>
.flowing >
.flowing-text {
    max-width: 50%;
}

main >
.content >
.grow >
.grow-items >
.grow-text >
h2,

main >
.content>
.your-users >
.users-items >
.users-text >
h2,

main >
.content >
.flowing >
.flowing-text >
h2,

main >
.content >
.ready >
h2 {
    font-size: 2.2rem;
    margin-bottom: 1em;
}

main >
.content >
.grow >
.grow-items >
.grow-text >
.para,

main >
.content >
.your-users >
.users-items >
.users-text >
.para {
    max-width: 80%;
}

main >
.content >
.flowing >
.flowing-text >
.para {
    max-width: 90%;
}

main >
.content >
.ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* ///////////////////////////////////////////////////////////////// */







/* //////////////////////////////////////////////////////////// */
/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
}

footer >
.footer-cointainer {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 5em 10em;
    gap: 20vw;
    color: #fff;
    font-size: .8rem;
}

footer >
.footer-cointainer >
.newsletter,

footer >
.footer-cointainer >
.huddle {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

footer >
.footer-cointainer >
.newsletter >
h2 {
    font-size: 1.3rem;
}

footer >
.footer-cointainer >
.newsletter >
p,

footer >
.footer-cointainer >
.huddle >
p {
    max-width: 65%;
}

footer >
.footer-cointainer >
.newsletter >
.email {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    gap: 2vw;
}

footer >
.footer-cointainer >
.newsletter >
.email >
input {
    width: 60%;
    padding: .8em;
    outline: none;
    border: 0;
    border-radius: .5em;
}

footer >
.footer-cointainer >
.newsletter >
.email >
button {
    border-radius: .5em;
    max-width: 15em;
    padding: .55em 1em;
}

footer >
.footer-cointainer >
.huddle {
    gap: 4vh;
}

footer >
.footer-cointainer >
.huddle >
.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

footer >
.footer-cointainer >
.huddle >
.contact >
.contact-detail {
    display:flex;
    gap: 1em;
}

footer >
.footer-cointainer >
.huddle >
.social-media {
    margin-top: 2em;
    display: flex;
    gap: 1.3em;
}

footer >
.footer-cointainer >
.huddle >
.social-media >
img {
    width: 2em;
}


/* ////////////////////////////////////////////////////////////////// */